<!DOCTYPE html>
<html lang="pt_BR">
  <meta charset="UTF-8">
  <head>
    <title>Projeto Final</title>
  </head>
  <body>
    <p>
      Essa é a VM do projeto final: {{ansible_hostname}}
    </p>
  </body>
</html>
